<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Customer</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <!-- ///////////////////// NAVBAR ///////////////////// -->
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"><%=currentUser%></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/list">List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/newcustomer">New</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">log out</a>
          </li>

        </ul>

        <form method="post" class="form-inline my-2 my-lg-0">

          <input class="form-control mr-sm-2" type="search" placeholder="Search Customer" aria-label="Search" name="search">
          <div class="dropdown">
            <button class="btn  dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Search By:
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="submit" formaction="/list/search/phoneNumber">Phone Number</button>
              <button class="dropdown-item" type="submit" formaction="/list/search/firstName">First Name</button>
              <button class="dropdown-item" type="submit" formaction="/list/search/lastName">last Name</button>
              <button class="dropdown-item" type="submit" formaction="/list/search/email">Email</button>
            </div>
          </div>
          </form>
      </div>
    </nav>
  </div>
