<%- include('partials/header') %>

  <!-- ////////////////////// Customer card///////////////////////// -->
  <section class="info container">
    <div class="Headings">
      <h3>Customers::</h3><br>
      <!-- <h4>Customer:</h4> <span>#Customer Name Here</span> -->
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Phone</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th  scope="row">095586857</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>nameat@mdo.com</td>
          <td><a href="result.html">Go</a> </td>
        </tr>
        <tr>
          <th scope="row">095586857</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>nameat@mdo.com</td>
          <td><a href="result.html">Go</a> </td>
        </tr>
        <tr>
          <th scope="row">095586857</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>nameat@mdo.com</td>
          <td><a href="result.html">Go</a> </td>
        </tr>
      </tbody>
    </table>


    <hr>
  </section>

  <%- include('partials/footer') %>
